<html ng-app="con4">
<head>
	<meta charset="UTF-8">
	<title>Connect 4</title>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="assets/styles/game.css">
</head>
<body ng-controller="GameController" class="container">
    
    <!--start of start up info-->
    <div>
        <input ng-model="player1" type="text" placeholder="Enter Player 1 name">
            <input ng-model="player1Color" type="color" placeholder="Enter player1 color">
        <input ng-model="player2" type="text"placeholder="Enter Player 2 name">
            <input ng-model="player2Color" type="color" placeholder="Enter player2 color">
            <label for="">Select background color</label>
            <input ng-model="background" type="color">
    </div>
	<!--end of start up-->
	<div class="panel panel-default">
		<div class="panel-heading">
			<button class="pull-right" ng-click="newGame()">Start Game</button>
			<h3 style="text-align: center">It's {{currentplayer}}'s turn</h3>
		</div>
		<div class="panel-body text-center">
			<div class="board">
				<div class="row" ng-repeat="row in grid">
					<div class="cell" style="background-color:{{background}}" ng-repeat="cell in row" ng-click="dropToken(cell.col)">
						<div class="token" ng-style="{'background-color': cell.hasToken ? cell.color : '#fff'}"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!--Load angular-->
    <script src="bower_components/angular/angular.js"></script>
	
    <!--Load app-->
	<script src="app/game.js"></script>
	
</body>
</html>