.cell{
	display: inline-block;
	/*background-color: blue;*/
	border: 1px solid black;
	height: 80px;
	width: 80px;
	text-align: center;
	padding-top: 6px;
    box-shadow: 10px 10px grey;
}

.token{
	border-radius: 100px;
	display: inline-block;
	height: 65px;
	width: 65px;
    box-shadow: 5px 5px grey;
}
.input{
    width: 100px;
}